<!DOCTYPE html>
<html>
<head>
  <title>RockNRails</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<!-- link to a new record form will be available to all pages -->
<a href="/records/new">Make a New Record</a><br>

<%= yield %>

</body>
</html>
